/* main page colors */
/* main page colors */
/* voilin page colors */
/* voilin page colors */
/* font pages */
/* font pages */
/* media for Responsive */
/* media for Responsive */
/* Hover for Footer */
/* Hover for Footer */
/* Grid Style */
/* Grid Style */
/* Hover for Footer */
/* Sryle Products */
/* Sryle Products */
/* button HOver */
/* button HOver */
/* Div Style Footer */
/* Div Style Footer */
.navbar {
  display: grid;
  grid-template-columns: 10% 55% 25%;
  gap: 5%;
  background-color: #ececec;
}
.navbar .right .logo {
  width: 100%;
  height: auto;
}
.navbar .center {
  z-index: 2;
}
.navbar .center .menu {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  align-content: center;
}
.navbar .center .menu .item-link {
  font-size: 2.2vw;
  font-family: "Marvel";
  text-decoration: none;
  color: #394650;
  font-weight: bold;
}
.navbar .center .menu .item-link:hover {
  border-bottom: 2px solid #f34a4a;
}
.navbar .center .menu .dropdown:hover > .guitar-types {
  top: 4.4vw;
  z-index: 0;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar .center .menu .guitar-types {
  display: grid;
  position: absolute;
  top: -13vw;
  right: 23vw;
  line-height: 3.5vw;
  background-color: #ececec;
  padding: 1vw;
  border-radius: 5px;
  z-index: -1;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar .left {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 50% 50%;
}
.navbar .left .icons {
  width: 80%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.navbar .left .icon {
  color: #394650;
  font-size: 2.5vw;
  text-decoration: none;
}
.navbar .left .search-box {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
}
.navbar .left .search-box:hover > .search-input {
  width: 90%;
  height: 90%;
  border: 1px solid #394650;
  transition: all 0.5s;
}
.navbar .left .search-box .search-input {
  width: 0;
  height: 0;
  border-radius: 15px;
  border: none;
  outline: none;
  background: transparent;
  transition: all 0.5s;
}
.navbar .left .search-box .search-input::placeholder {
  font-family: "Dancing Script", monospace;
  letter-spacing: 0.5vw;
  padding-left: 1vw;
  font-size: 2vw;
  color: #f34a4a;
}

.header {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  background-color: #ececec;
}
@media all and (max-width: 425px) {
  .header {
    grid-template-columns: 100%;
  }
}
.header .left {
  width: auto;
}
@media all and (max-width: 425px) {
  .header .left {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
.header .left .left-img {
  background-size: cover;
  opacity: 0.8;
  height: 100%;
  width: inherit;
}
.header img.left-img2 {
  position: absolute;
  top: -5vw;
  left: 12vw;
  transform: rotate(40deg);
  opacity: 0.8;
}
@media all and (min-width: 1024px) {
  .header img.left-img2 {
    top: -3vw;
    left: 15vw;
  }
}
@media all and (min-width: 1440px) {
  .header img.left-img2 {
    top: -1vw;
    left: 19vw;
  }
}
@media all and (min-width: 2560px) {
  .header img.left-img2 {
    top: 2vw;
    left: 24vw;
    transform: scale(2) rotate(40deg);
  }
}
@media all and (max-width: 425px) {
  .header img.left-img2 {
    top: -20vw;
    left: 15vw;
  }
}
.header .right {
  display: grid;
  grid-template-rows: 50% 2% 45%;
}
@media all and (max-width: 425px) {
  .header .right {
    height: 100vh;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
}
.header .right .text {
  display: grid;
  grid-template-rows: 5% 10% 50% 30%;
  align-items: center;
  margin-top: 2vw;
}
@media all and (min-width: 1024px) {
  .header .right .text {
    margin-top: 0;
  }
}
@media all and (min-width: 2560px) {
  .header .right .text {
    grid-template-rows: 10% 15% 45% 30%;
    margin-top: 0;
  }
}
.header .right .text h2.title-1 {
  font-size: 1.5vw;
  font-family: "Nunito", cursive;
  color: #ad726d;
}
@media all and (min-width: 1440px) {
  .header .right .text h2.title-1 {
    font-size: 1vw;
  }
}
@media all and (min-width: 2560px) {
  .header .right .text h2.title-1 {
    font-size: 1vw;
  }
}
@media all and (max-width: 425px) {
  .header .right .text h2.title-1 {
    font-size: 3vw;
  }
}
.header .right .text h1.title-2 {
  font-size: 4vw;
  font-family: "Dancing Script", monospace;
  color: #cc5539;
  font-weight: bold;
}
@media all and (min-width: 1024px) {
  .header .right .text h1.title-2 {
    font-size: 3vw;
  }
}
@media all and (min-width: 1440px) {
  .header .right .text h1.title-2 {
    font-size: 2vw;
  }
}
@media all and (max-width: 425px) {
  .header .right .text h1.title-2 {
    font-size: 6vw;
  }
}
.header .right .text .text-1 {
  font-size: 1.5vw;
  font-family: "Josefin Sans", cursive;
  line-height: 1.5vw;
  color: #394650;
  font-weight: 600;
}
@media all and (min-width: 1024px) {
  .header .right .text .text-1 {
    line-height: 1.5vw;
    font-size: 1.2vw;
  }
}
@media all and (min-width: 1440px) {
  .header .right .text .text-1 {
    line-height: 1.5vw;
    font-size: 1vw;
  }
}
@media all and (min-width: 2560px) {
  .header .right .text .text-1 {
    line-height: 1.2vw;
    font-size: 1vw;
  }
}
@media all and (max-width: 425px) {
  .header .right .text .text-1 {
    font-size: 3vw;
    line-height: 3.5vw;
    font-weight: normal;
  }
}
.header .right hr {
  width: 100%;
  background-color: #f69d17;
  height: 10%;
  margin: 0;
  border: none;
}
.header .right .box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 50%);
  gap: 0.5vw;
}
.header .right .box .card {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 20% 50% 30%;
  border: 1px solid gray;
  padding: 0.5vw;
  border-radius: 5px;
}
.header .right .box .card p.f {
  font-size: 2.5vw;
  font-family: "Dancing Script", monospace;
  letter-spacing: 0.5vw;
  color: #f34a4a;
}
@media all and (max-width: 425px) {
  .header .right .box .card p.f {
    font-size: 5vw;
  }
}
.header .right .box .card p.s {
  font-size: 2.5vw;
  font-family: "Dancing Script", monospace;
  letter-spacing: 0.5vw;
  color: #cc5539;
}
@media all and (max-width: 425px) {
  .header .right .box .card p.s {
    font-size: 5vw;
  }
}
.header .right .box .card p.t {
  font-size: 2.5vw;
  font-family: "Dancing Script", monospace;
  letter-spacing: 0.5vw;
  color: #ad726d;
}
@media all and (max-width: 425px) {
  .header .right .box .card p.t {
    font-size: 5vw;
  }
}
.header .right .box .card p.fo {
  font-size: 2.5vw;
  font-family: "Dancing Script", monospace;
  letter-spacing: 0.5vw;
  color: #f69d17;
}
@media all and (max-width: 425px) {
  .header .right .box .card p.fo {
    font-size: 5vw;
  }
}
.header .right .box .card p.fi {
  font-size: 2.5vw;
  font-family: "Dancing Script", monospace;
  letter-spacing: 0.5vw;
  color: #394650;
}
@media all and (max-width: 425px) {
  .header .right .box .card p.fi {
    font-size: 5vw;
  }
}
.header .right .box .card p.si {
  font-size: 2.5vw;
  font-family: "Dancing Script", monospace;
  letter-spacing: 0.5vw;
  color: #e4b362;
}
@media all and (max-width: 425px) {
  .header .right .box .card p.si {
    font-size: 5vw;
  }
}
.header .right .box .card img.img-cart {
  width: 40%;
  transition: transform 0.5s;
}
@media all and (min-width: 1440px) {
  .header .right .box .card img.img-cart {
    width: 25%;
  }
}
.header .right .box .card img.img-cart:hover {
  transform: scale(2);
  transition: transform 0.5s;
}
.header .right .box .card audio.img-audio {
  width: 100%;
  height: 50%;
}

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  border-top: 2px groove rgba(40, 38, 38, 0.2784313725);
}
.footer .social {
  width: 100%;
  height: 10vw;
  display: grid;
  justify-items: center;
  background-color: #ececec;
}
.footer .social ul {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  width: 40%;
  padding-top: 1vw;
}
.footer .social ul li {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
}
.footer .social ul li:hover a {
  color: white;
}
.footer .social ul li:hover .d1 {
  height: 100%;
  transition: height 0.3s;
}
.footer .social ul li:hover .d2 {
  width: 100%;
  transition: width 0.3s;
}
.footer .social ul li:hover .d3 {
  width: 100%;
  transition: width 0.3s;
}
.footer .social ul li:hover .d4 {
  height: 100%;
  transition: height 0.3s;
}
.footer .social ul .d1 {
  width: 100%;
  height: 15%;
  background-color: #f69d17;
  border-top-left-radius: 5px;
  position: absolute;
  top: 0;
  z-index: 1;
  transition: height 0.3s;
}
.footer .social ul .d2 {
  border-top-right-radius: 5px;
  width: 15%;
  height: 100%;
  background-color: #cc5539;
  position: absolute;
  left: 0;
  z-index: 1;
}
.footer .social ul .d3 {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 15%;
  height: 100%;
  background-color: #e4b362;
  position: absolute;
  right: 0;
  z-index: 1;
}
.footer .social ul .d4 {
  width: 100%;
  height: 15%;
  background-color: #ad726d;
  border-top-right-radius: 5px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.footer .social ul a {
  font-size: 3vw;
  color: #394650;
  z-index: 2;
}/*# sourceMappingURL=main.css.map */